:root {
  --main-colour1: rgb(7, 7, 7);
  --main-colour2: #0f0f0f;
  --test-colour: white;
}

body {
  background: var(--main-colour1);
  color: var(--test-colour);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}

#cards:hover > .card > .cardBorder {
  opacity: 1;
}

.card {
  border-radius: 10px;
  height: 1000px;
  width: 100%;
  position: relative;
}

.card::before,
.card > .cardBorder {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  z-index: 2;
}

.card > .cardBorder {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    #ffca02,
    #814d01,
    transparent 40%
  );
  z-index: 1;
}

.card > .cardContent {
  background: radial-gradient(var(--main-colour1) 50%, var(--main-colour2));
  border-radius: inherit;
  position: absolute;
  inset: 2px;
  z-index: 2;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-colour2);
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
